@import 'tailwindcss';

@theme {
  --font-apollo-ui: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-apollo-display: Space Grotesk, ui-sans-serif, system-ui, sans-serif;

  --text-display-2xl: 4.5rem;
  --text-display-xl: 3.5rem;
  --text-display-lg: 2.75rem;
  --text-display-md: 2.25rem;
  --text-display-sm: 1.75rem;

  
  --font-ui: var(--font-apollo-ui);
  --font-display: var(--font-apollo-display);
}

p + .heading {
  margin-bottom: 2.5em;
}
.heading + p {
  margin-bottom: 1.25em;
}
p + ol,
p + ul {
  margin-top: 1.5em;
}

ol + p,
ul + p {
  margin-top: 1.5em;
}
