/**
 * THEME PALETTE
 * Engineering Cool
 * Supports: light dark
 */

@theme {

   /* -----------------------------------------
      ENGINEERING COOL — LIGHT MODE
     ----------------------------------------- */

   --color-eng-50: #ffffff;
   --color-eng-100: #f6f8fc;
   --color-eng-150: #eef1f7;
   --color-eng-200: #e5e8f1;
   --color-eng-250: #dce0eb;
   --color-eng-300: #d2d7e4;
   --color-eng-350: #c8cedd;
   --color-eng-400: #bec5d6;
   --color-eng-450: #b3bbce;
   --color-eng-500: #a8b1c5;
   --color-eng-550: #9da7bd;
   --color-eng-600: #919cb4;
   --color-eng-650: #8491aa;
   --color-eng-700: #76859f;
   --color-eng-750: #687893;
   --color-eng-800: #596a86;
   --color-eng-850: #485a75;
   --color-eng-900: #384a63;
   --color-eng-950: #2a384f;


   /* -----------------------------------------
      ENGINEERING COOL — DARK MODE
     ----------------------------------------- */

   --color-eng-dark-50: #10131a;
   --color-eng-dark-100: #151923;
   --color-eng-dark-150: #1b1f2c;
   --color-eng-dark-200: #212536;
   --color-eng-dark-250: #282b40;
   --color-eng-dark-300: #2f324a;
   --color-eng-dark-350: #373a54;
   --color-eng-dark-400: #40425e;
   --color-eng-dark-450: #4a4c69;
   --color-eng-dark-500: #545673;
   --color-eng-dark-550: #5f617e;
   --color-eng-dark-600: #6a6d89;
   --color-eng-dark-650: #767995;
   --color-eng-dark-700: #8386a1;
   --color-eng-dark-750: #9093ac;
   --color-eng-dark-800: #9ea0b7;
   --color-eng-dark-850: #acadc2;
   --color-eng-dark-900: #bbbacd;
   --color-eng-dark-950: #cac9d7;
}


/* -------------------------------------------------
   LIGHT MODE VARIABLES
  ------------------------------------------------- */

@media (prefers-color-scheme: light) {
   :root {
      --color-0: var(--color-eng-0);
      --color-50: var(--color-eng-50);
      --color-100: var(--color-eng-100);
      --color-150: var(--color-eng-150);
      --color-200: var(--color-eng-200);
      --color-250: var(--color-eng-250);
      --color-300: var(--color-eng-300);
      --color-350: var(--color-eng-350);
      --color-400: var(--color-eng-400);
      --color-450: var(--color-eng-450);
      --color-500: var(--color-eng-500);
      --color-550: var(--color-eng-550);
      --color-600: var(--color-eng-600);
      --color-650: var(--color-eng-650);
      --color-700: var(--color-eng-700);
      --color-750: var(--color-eng-750);
      --color-800: var(--color-eng-800);
      --color-850: var(--color-eng-850);
      --color-900: var(--color-eng-900);
      --color-950: var(--color-eng-950);
      --color-975: var(--color-eng-975);
      --color-1000: var(--color-eng-1000);
   }
}


/* -------------------------------------------------
   DARK MODE VARIABLES
  ------------------------------------------------- */

@media (prefers-color-scheme: dark) {
   :root {
      --color-0: var(--color-eng-dark-0);
      --color-50: var(--color-eng-dark-50);
      --color-100: var(--color-eng-dark-100);
      --color-150: var(--color-eng-dark-150);
      --color-200: var(--color-eng-dark-200);
      --color-250: var(--color-eng-dark-250);
      --color-300: var(--color-eng-dark-300);
      --color-350: var(--color-eng-dark-350);
      --color-400: var(--color-eng-dark-400);
      --color-450: var(--color-eng-dark-450);
      --color-500: var(--color-eng-dark-500);
      --color-550: var(--color-eng-dark-550);
      --color-600: var(--color-eng-dark-600);
      --color-650: var(--color-eng-dark-650);
      --color-700: var(--color-eng-dark-700);
      --color-750: var(--color-eng-dark-750);
      --color-800: var(--color-eng-dark-800);
      --color-850: var(--color-eng-dark-850);
      --color-900: var(--color-eng-dark-900);
      --color-950: var(--color-eng-dark-950);
      --color-975: var(--color-eng-dark-975);
      --color-1000: var(--color-eng-dark-1000);
   }
}