/*

aldengillespy.com - Color System

NOTE: The desired primary palette is the final palette imported.

Imports:
1. Initial tokens + association of the specification and such tokens
2. Desired secondary palettes, in order of increasing priority
3. Primary palette

Palette files implement the light/dark theme associations.

*/
@import './colors/base.css';
@import './colors/cine-amber.css';
@import './colors/eng-blue.css';
@import './colors/neutral.css';

@theme {
  --color-bg-default: var(--color-50);
  --color-bg-subtle: var(--color-100);
  --color-bg-surface: var(--color-150);
  --color-bg-raised: var(--color-200);
  --color-bg-overlay: var(--color-250);

  --color-fg-default: var(--color-900);
  --color-fg-muted: var(--color-700);
  --color-fg-subtle: var(--color-650);
  --color-fg-disabled: var(--color-600);

  --color-border: var(--color-300);
  --color-border-strong: var(--color-400);
  --color-divider: var(--color-200);

  --color-accent-primary: var(--color-accent-600);
  --color-accent-hover: var(--color-accent-650);
  --color-accent-active: var(--color-accent-700);
  --color-accent-muted: var(--color-accent-300);

  --color-accent-fg: var(--color-0);
  --color-accent-strong-fg: var(--color-0);

  --color-accent-bg-subtle: var(--color-accent-50);
  --color-accent-bg-soft: var(--color-accent-100);
  --color-accent-bg-strong: var(--color-accent-150);
  --color-accent-bg-surface: var(--color-accent-200);

  --color-accent-border: var(--color-accent-400);
  --color-accent-border-strong: var(--color-accent-600);
  --color-accent-focus: var(--color-accent-500);

  --color-link: var(--color-accent-600);
  --color-link-hover: var(--color-accent-650);
  --color-link-active: var(--color-accent-700);
}