@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-surface dark:bg-dark-surface text-text dark:text-dark-text transition-colors duration-300;
}

body {
  font-family: "Inter", "sans-serif";
}

#site-content-wrap h1,
#site-content-wrap .h1 {
  @apply font-cinematic text-5xl md:text-6xl mb-14 mt-12;
}

#site-content-wrap h2,
#site-content-wrap .h2 {
  @apply font-cinematic text-4xl text-brand-600 dark:text-dark-brand-600;
}

#site-content-wrap h3,
#site-content-wrap .h3 {
  @apply font-cinematic text-3xl text-brand-700 dark:text-dark-brand-700;
}

#site-content-wrap h4,
#site-content-wrap .h4 {
  @apply font-cinematic text-2xl;
}

#site-content-wrap h5,
#site-content-wrap .h5 {
  @apply font-cinematic text-xl;
}

#site-content-wrap h6,
#site-content-wrap .h6 {
  @apply font-cinematic text-lg;
}

.prose h1,
.prose .h1 {
  @apply mb-14 mt-12;
}

.prose h2,
.prose .h2 {
  @apply mb-10 mt-14;
}

.prose h3,
.prose .h3 {
  @apply mb-7 mt-11;
}

.prose h4,
.prose .h4 {
  @apply mb-6 mt-11;
}

.prose h5,
.prose .h5 {
  @apply mb-6 mt-12;
}

.prose h6,
.prose .h6 {
  @apply mb-8 mt-12;
}

.prose p {
  @apply mb-4;
}

.prose ol,
.prose ul {
  @apply list-disc my-5 ms-4 space-y-4;
}