on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-slim

    strategy:
      matrix:
        node-version: [22.x]

    steps:
 
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.EC2_SERVER_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "Host myserver " >> ~/.ssh/config
          echo "  HostName ${{ secrets.EC2_SERVER_HOST }}" >> ~/.ssh/config
          echo "  User ${{ secrets.EC2_SERVER_USER }}" >> ~/.ssh/config
          echo "  IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
          echo "  StrictHostKeyChecking no" >> ~/.ssh/config

      - name: Run remote commands
        run: |
          ssh myserver 'bash -s' < ./.github/workflows/deploy_production_script.sh
