name: Deploy production to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@v2
    
    - name: Deploy production to EC2
      env:
        PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
        HOST: ${{ secrets.EC2_HOST }}
        USER: ${{ secrets.EC2_USER }}
      run: |
        echo "$PRIVATE_KEY" > github-ec2.pem && chmod 600 github-ec2.pem
        ssh -o StrictHostKeyChecking=no -i github-ec2.pem ${USER}@${HOST} '
        echo "Current directory: $(pwd)"
        echo "Listing home directory:"
        ls -la ~

        echo "Installing Node.js..."
        if ! command -v nvm &> /dev/null; then
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.5/install.sh | bash
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
        fi
        nvm install node

        echo "Installing PM2..."
        if ! command -v pm2 &> /dev/null; then
        npm install -g pm2
        fi

        REPO_URL="https://github.com/brazenest/agcom-website.git"
        BRANCH="main"
        REPO_DIR="$HOME/webapps/agcom-website"

        if [ -d "$REPO_DIR/.git" ]; then
          cd "$REPO_DIR"
          git pull origin "$BRANCH"
        else
          git clone "$REPO_URL" "$REPO_DIR"
          cd "$REPO_DIR"
        fi

        cd "$REPO_DIR/production"
        npm install

        cd ~/webapps/agcom-website/production
        git pull origin main
        npm install

        echo "Running `next build`..."
        npm run build

        
        echo "Stopping application..."
        pm2 stop agcom-website-production
        echo "Deleting pm2 configuration..."
        pm2 delete agcom-website-production
        echo "Starting application under pm2..."
        pm2 start npm --name "agcom-website-production" -- run start &
        
        echo "Operation complete! End of deployment."
        logout
        exit
